{% extends "base.html"%} {% block title%} Reply {% endblock %}
{% block content%}
<form method="POST">
    <br/>
    <textarea readonly class="form-control" id="question">
        {{ question.data }}
    </textarea>
    <br />
    <br />
    {% for i in answer %}
     <textarea readonly class="form-control" id="answers">
        {{ i }}
    </textarea>
    {% endfor %}
    <textarea name="answer" id="answer" class="form-control", placeholder="Your Answer Here"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Post Answer</button>   
    </div>
    <br/>
</form>
{% endblock %}