{% extends "base.html"%} {% block title%} Home {% endblock %} {% block content%}

{% for question in all_questions %}
<hr>
<form>
    <textarea readonly class="form-control" id="question">
        {{ question.data }}
    </textarea>
    <br/>
                <div class="col-md 12 bg-light text-left">
                    <a href="/user_home/replys" >
                        <button type="button" class="btn btn-primary" id="reply", name="reply">Reply</button>
                     </a> 
                </div>
                <div class="col-md-12 bg-light text-right">
                    By {{ question.user_name }} On {{ question.date }}
                </div>
    <br>
</form>
{% endfor %}
{% endblock %}
